<!-- <app-navbar-pharmacy></app-navbar-pharmacy>
<h1 style="text-align: center;background-color: rgb(196, 200, 223);">PRESCRIPTION MEDICINES</h1>

<div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
 
    <div class="card" style="width: 18rem;">
        <img src="https://cdn.osudpotro.com/thumb/medicine/fluclox-500-1631442367478.webp?w=640">
         <div class="card-body">
           <h5 class="card-title">Endrocrinology & Diabetology</h5>
           <p class="card-text">This department is responsible for the diagnosis and treatment of diabetes and endocrine disorders.</p>
           <a href="http://localhost:4200/departments/endocrinology" class="btn btn-primary">View Details</a>
         </div>
       </div>

   <div class="card" style="width: 18rem;">
    <img src="https://cdn.osudpotro.com/thumb/medicine/ritch-50-ml1-1631424889466.webp?w=640">
     <div class="card-body">
       <h5 class="card-title">Cardiology</h5>
       <p class="card-text">This department is responsible for the diagnosis and treatment of cardiovascular diseases.</p>
       <a href="http://localhost:4200/departments/cardiology" class="btn btn-primary">View Details</a>
     </div>

   </div>
   <div class="card" style="width: 18rem;">
    <img src="https://cdn.osudpotro.com/thumb/medicine/febus-40-1716874167197.webp?w=640">
     <div class="card-body">
       <h5 class="card-title">Nephrology</h5>
       <p class="card-text">This department is responsible for the diagnosis and treatment of kidney diseases.</p>
       <a href="http://localhost:4200/departments/nephrology" class="btn btn-primary">View Details</a>
     </div>
   </div>

   <div class="card" style="width: 18rem;">
    <img src="https://cdn.osudpotro.com/thumb/medicine/anaflex-5003-1631426712690.webp?w=640" alt="">
     <div class="card-body">
       <h5 class="card-title">Neuro Surgery</h5>
       <p class="card-text">This department is responsible for the diagnosis and treatment of neurological diseases.</p>
       <a href="http://localhost:4200/departments/neuro-surgery" class="btn btn-primary">View Details</a>
       
     </div>
    
     
   </div>
</div>

<div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
 
    <div class="card" style="width: 18rem;">
        <img src="https://cdn.osudpotro.com/thumb/medicine/ebasten-10-1633333240018.webp?w=640">
         <div class="card-body">
           <h5 class="card-title">Dermatology</h5>
           <p class="card-text">This department is responsible for the diagnosis and treatment of skin diseases.</p>
           <a href="http://localhost:4200/departments/dermatology" class="btn btn-primary">View Details</a>
           
         </div>
        
         
       </div>
    
       <div class="card" style="width: 18rem;">
        <img src="https://cdn.osudpotro.com/thumb/medicine/prosma-1631420699602.webp?w=640">
         <div class="card-body">
           <h5 class="card-title">Pediatrics Surgery</h5>
           <p class="card-text">This department is responsible for the diagnosis and treatment of pediatric diseases.</p>
           <a href="http://localhost:4200/departments/pediatrics-surgery" class="btn btn-primary">View Details</a>
           
         </div>
        
         
       </div>
       <div class="card" style="width: 18rem;">
        <img src="https://cdn.osudpotro.com/thumb/medicine/povital-1631503065057.webp?w=640" alt="">
         <div class="card-body">
           <h5 class="card-title">Dental & Maxillofacial Surgery</h5>
           <p class="card-text">This department is responsible for the diagnosis and treatment of dental and maxillofacial diseases.</p>
           <a href="http://localhost:4200/departments/dental-maxillofacial-surgery" class="btn btn-primary">View Details</a>
           
         </div>
        
         
       </div>
       <div class="card" style="width: 18rem;">
        <img src="https://cdn.osudpotro.com/thumb/medicine/ritch-120-1631431423297.webp?w=640">
         <div class="card-body">
           <h5 class="card-title">Nursing & Midwifery</h5>
           <p class="card-text">This department is responsible for the diagnosis and treatment of nursing and midwifery diseases.</p>
           <a href="http://localhost:4200/departments/nursing-midwifery" class="btn btn-primary">View Details</a>
           
         </div>
        
         
       </div>
    </div>-->
        


        <app-navbar-pharmacy></app-navbar-pharmacy>

        <h1 class="text-center py-3" style="background-color: rgb(196, 200, 223);">PRESCRIPTION MEDICINES</h1>
        
        <div class="container py-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
            
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/fluclox-500-1631442367478.webp?w=640" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Fluclox 500</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/endocrinology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>

            
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/ritch-50-ml1-1631424889466.webp?w=640" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Ritch-50-ml</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/cardiology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/febus-40-1716874167197.webp?w=640" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Febus-40</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/nephrology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/anaflex-5003-1631426712690.webp?w=640" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Anaflex 500</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/neuro-surgery" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/untitled-1-1633491215589.webp?w=256" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Comet-XR 1gm</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/dermatology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="container py-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
            
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/orbas-20-1631527749908.webp?w=256" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Orbas-20</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/endocrinology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/c-orabon--1631444277568.webp?w=256" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">C-orabon-D 50mg</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/cardiology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/ketifen-100-ml-syrup-removebg-preview-1629124973763.webp?w=256" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Ketifen-100-ml</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/nephrology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/prosma-1631420699602.webp?w=256" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Prosma 1</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/neuro-surgery" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.osudpotro.com/thumb/medicine/reversair-10-1631429265163.webp?w=256" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Reversair-10</h5>
                  <div class="discount-badge">5% OFF</div>
                  <a href="http://localhost:4200/departments/dermatology" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="container py-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
            <div class="col" *ngFor="let medicine of medicines">
              <div class="card h-100 position-relative">
                <div class="discount-badge">5% OFF</div>
                <img [src]="medicine.image" class="card-img-top" alt="{{ medicine.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ medicine.name }}</h5>
                  <p class="card-text">
                    <span class="text-muted text-decoration-line-through">৳{{ medicine.price }}</span>
                    <span class="fw-bold ms-2 text-success">৳{{ getDiscountedPrice(medicine.price) }}</span>
                  </p>
                  <a [routerLink]="medicine.link" class="btn btn-primary">View Details</a> 
                </div>
              </div>
            </div>
          </div>
        </div> -->
        

        