 <app-navbar-pharmacy></app-navbar-pharmacy>

        <div class="container mt-4">
          <h1 class="form-title text-primary text-center mb-4">All Medicine's </h1>
          <div class="row mt-4">
              <div class="col-md-4 mb-4" *ngFor="let medicine of medicines">
                  <div class="card shadow-lg rounded-4">

                    <img [src]="medicine.image" class="card-img-top img-fluid medicine-image" style="width: 450px; height: 250px;" alt="Medicine Image">
      
                      <div class="card-body text-center">
                          
                          <p class="card-text text-muted"> <strong>Medicine's Name:</strong> {{ medicine.name }}</p>
      
                          <p class="card-text text-muted"> <strong>Type:</strong> {{ medicine.category }}</p>
      
                          <p class="card-text text-success">💲 <strong>Price :</strong> ${{ medicine.price }}</p>
      
                          <button  class="btn btn-primary shadow-sm fw-bold" >Buy Now</button>

                          <div class="discount-badge">5% OFF</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>