<app-navbar></app-navbar>
<div class="row">
    <div class="left">
        <div class="col-4">

            <app-sidebar></app-sidebar>

        </div>
    </div>

    <div class="right">
        <div class="col-8">

            <fieldset>
                <h1>{{ isUpdate ? "Edit User" : "Add User" }}</h1>
                <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                    <input type="hidden" name="id" [(ngModel)]="users.id" hidden /><br />

                    <label for="role">Role</label>
                    <select name="role" id="role" [(ngModel)]="users.role" required>
                        <option value="ADMIN">ADMIN</option>
                        <option value="DOCTOR">DOCTOR</option>
                        <option value="PATIENT">PATIENT</option>
                    </select>

                    <label for="name">Name:</label><br />
                    <input type="text" name="name" [(ngModel)]="users.name" required /><br />

                    <label for="email">Email</label><br />
                    <input type="email" name="email" [(ngModel)]="users.email" required /><br />

                    <!-- <label for="password">{{ isUpdate ? "" : "Password" }}</label><br /> -->
                    <!-- <input type="password" name="password" [(ngModel)]="users.password" required /><br /> -->

                    <div *ngIf="!isUpdate">
                        <label for="password">Password</label><br />
                        <input type="password" id="password" name="password" [(ngModel)]="users.password"
                            required /><br />
                    </div>

                    <label for="age">Age:</label><br />
                    <input type="number" [(ngModel)]="users.age" name="age" required /><br />

                    <label for="gender">Gender:</label><br />
                    <select name="gender" id="gender" [(ngModel)]="users.gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select><br />


                    <label for="dob">Date Of Birth:</label><br />
                    <input type="text" [(ngModel)]="users.dob" name="dob" required /><br />

                    <label for="phone">Phone Number:</label><br />
                    <input type="text" [(ngModel)]="users.phoneNumber" name="phone" required /><br />

                    <label for="address">Address:</label><br />
                    <input type="text" [(ngModel)]="users.address" name="address" required /><br />

                    <label for="speciality">Speciality:</label><br />
                    <input type="text" [(ngModel)]="users.speciality" name="speciality" required /><br />


                    <label for="bloodGroup">Blood Group:</label><br />
                    <input type="text" [(ngModel)]="users.bloodGroup" name="bloodGroup" required /><br />

                    <label for="image">UserImage</label><br />
                    <input type="text" name="avatarUrl" [(ngModel)]="users.avatarUrl" required /><br />

                    <button type="submit" class="btn btn-success">
                        {{ isUpdate ? "Update" : "Add" }}
                    </button>
                </form>
            </fieldset>
        </div>

    </div>