/* General Styles
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    max-width: 800px;
    background: #d0cce9;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
}


.form-signin {
    text-align: center;
}

fieldset {
    border: none;
}

legend {
    font-size: 24px;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 15px;
    position: relative;
}


p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    text-align: justify;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
} */



body {
    font-family: 'Poppins', sans-serif;
    /*background: url('c:\Users\ft\Downloads\Image 2025-03-07 at 11.18.19 AM.jpeg') no-repeat center center/cover;*/
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(224, 199, 168);
}


.container {
    max-width: 800px;
    background: rgba(217, 205, 224, 0.9); 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.form-signin {
    text-align: center;
}

fieldset {
    border: none;
}


h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
}


p {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

