<h1 style="text-align: center;background-color: rgb(131, 141, 197);">Meet Our Doctors</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://www.birdembd.org/uploads/doctor/tareen-removebg-preview_1714444194.jpg" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">PROF. MD. FARUQUE PATHAN</h5>
          <h6 class="card-title">Endocrinology & Diabetology</h6>
          <p class="card-text"> Department of Endocrinology<br>
            Diabetes, Thyroid & Hormonal Diseases Specialist.
          </p>
          <div class="d-flex gap-2">
            <a href="http://localhost:4200/appointment" class="btn btn-primary">Make Appointment</a>
            <a href="#" class="btn btn-success">Details</a>
          </div>


        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://www.birdembd.org/uploads/doctor/Dr.%20Rezaul%20Irfan-removebg-preview_1714445426.jpg" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">DR. S.M. REZAUL IRFAN</h5>
          <h6 class="card-title">Cardiology</h6>
          <p class="card-text"> Department of Endocrinology</p>

          <div class="d-flex gap-2">
            <a href="http://localhost:4200/appointment" class="btn btn-primary">Make Appointment</a>
            <a href="#" class="btn btn-success">Details</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
        <div class="card">
          <img src="https://www.birdembd.org/uploads/doctor/Dr.%20Sanjida%20Neuro%20Final-removebg-preview_1736842185.jpg" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">DR. SANJIDA AKHTER</h5>
            <h6 class="card-title">Nephrology</h6>
            <p class="card-text"> Department of Nephrology</p>
            <div class="d-flex gap-2">
              <a href="http://localhost:4200/appointment" class="btn btn-primary">Make Appointment</a>
              <a href="#" class="btn btn-success">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-2 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="https://www.birdembd.org/uploads/doctor/Dr.%20Sumon%20Kanti_1718243154.png" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr Sumon Kanti Mojumdar</h5>
          <h6 class="card-title">Dermatology</h6>
          <p class="card-text"> Department of Dermatology</p>
          <div class="d-flex gap-2">
            <a href="http://localhost:4200/appointment" class="btn btn-primary">Make Appointment</a>
            <a href="#" class="btn btn-success">Details</a>
          </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://www.birdembd.org/uploads/doctor/Hasna%20Fahmina-removebg-preview_1714453204.jpg" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">DR. HASNA FAHMIMA HAQUE</h5>
          <h6 class="card-title">Pediatrics Surgery</h6>
          <p class="card-text"> Department of Pediatrics</p>
          <div class="d-flex gap-2">
            <a href="http://localhost:4200/appointment" class="btn btn-primary">Make Appointment</a>
            <a href="#" class="btn btn-success">Details</a>
          </div>
            </div>
          </div>
        </div>
        
        <div class="col">
            <div class="card">
              <img src="https://www.birdembd.org/uploads/doctor/Dr.%20TOFAYEL-removebg-preview_1713852467.jpg" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
              <div class="card-body">
                <h5 class="card-title">DR. TUFAYEL AHMED CHOWDHURY</h5>
          <h6 class="card-title">Dental & Maxillofacial Surgery</h6>
          <p class="card-text"> Department of Sports Injury and Dental specialist.</p>
          <div class="d-flex gap-2">
            <a href="http://localhost:4200/appointment" class="btn btn-primary">Make Appointment</a>
            <a href="#" class="btn btn-success">Details</a>
          </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="https://www.birdembd.org/uploads/doctor/Dr.%20Rene%20Suzan-removebg-preview_1715223063.jpg" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dr. Rene Suzan Claude Sarker</h5>
          <h6 class="card-title">Nurse Anesthetist</h6>
          <p class="card-text"> Department of Nurse Anesthetist</p>
          <div class="d-flex gap-2">
            <a href="http://localhost:4200/appointment" class="btn btn-primary">Make Appointment</a>
            <a href="#" class="btn btn-success">Details</a>
          </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://www.birdembd.org/uploads/doctor/DG-removebg-preview_1711966382.png" class="img-fluid rounded-start" style="max-width: 280px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PROF. MD: KAMRUL AHASAN</h5>
          <h6 class="card-title">Neuro Surgery</h6>
          <p class="card-text"> Department of Neuro Surgery</p>
          <div class="d-flex gap-2">

            <a href="http://localhost:4200/appointment" class="btn btn-primary" >Make Appointment</a>
            <a href="#" class="btn btn-success">Details</a>
          </div>
                </div>
              </div>
            </div>
            


            

             
            
            
  

 