<app-navbar></app-navbar>

<div class="row">
  <div class="col-4">
      <app-create-prescription></app-create-prescription>
  </div>

  <div class="col-8">
<div class="container">
    <h1 style="text-align: center;background-color: rgb(163, 167, 219);">Prescription List</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Patient ID</th>
          <th>Doctor ID</th>
          <th>Description</th>
          <th>Dosage</th>
          <th>Duration</th>
          <th>Prescription Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          @for(prescription of prescriptions; track prescription.prescription_id){
            <tr>
              <td>{{prescriptions.indexOf (prescription) + 1}}</td>
              <td>{{prescription.patientId}}</td>
              <td>{{prescription.doctorId}}</td>
              <td>{{prescription.description}}</td>
              <td>{{prescription.dosage}}</td>
              <td>{{prescription.duration}}</td>
              <td>{{prescription.prescription_date}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="editPrescription(prescription)">Edit</button>
                        <button type="button" class="btn btn-warning" (click)="deletePrescription(prescription)">Delete</button>
              </td>
            </tr>
          }
        </tbody>
    </table>
    </div>
    </div>
