<app-navbar></app-navbar>
<div class="container">
<h1 style="text-align: center;background-color: rgb(199, 202, 221);">Our Services</h1>


<div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.birdembd.org/uploads/service/emergency-unit_1663068135.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Emergency Service</h5>
          <p class="card-text">The Emergency Services Sector (ESS) maintains public safety and security, performs lifesaving operations, protects property and the environment, and assists communities impacted by disasters.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.birdembd.org/uploads/service/outdoor_1663068145.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Outdoor Patient Service</h5>
          <p class="card-text">Outdoor patient services, also known as outpatient services, are medical consultations and other services provided to patients who don't need to be admitted to the hospital. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.birdembd.org/uploads/service/telephone%20directory_1663068179.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Additional Service</h5>
          <p class="card-text">Hospitals offer a variety of additional services, including emergency care, psychiatric care, rehabilitation, and outpatient facilities. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.birdembd.org/uploads/service/indoor_1663068155.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Indoor Patient Service</h5>
          <p class="card-text">Indoor patient service, also known as inpatient care, is the medical care given to patients who are admitted to a hospital for an extended stay. Patients are admitted to the indoor patient department (IPD) based on a doctor's assessment. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.birdembd.org/uploads/service/doctor-list_1663068198.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Academy</h5>
          <p class="card-text">A hospital academy can refer to a training institute for healthcare professionals, or a program that prepares students for careers in healthcare. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>


