<div class="container mt-4">
    <h1 class="form-title text-primary text-center mb-4"> Doctor's </h1>
    <div class="row mt-4">
        <div class="col-md-4 mb-4" *ngFor="let writer of writerBooks">
            <div class="card shadow-lg rounded-4">
                <!-- Book Image -->
                <img [src]="writer.imageUrl" class="card-img-top img-fluid book-image" style="width: 450px; height: 250px;" alt="Book Image">

                <div class="card-body text-center">
                    <!-- Book Name -->
                    <!-- <h5 class="card-title fw-bold text-primary">{{ writer.writerName }}</h5> -->

                    <!-- Writer Name -->
                    <p class="card-text text-muted"> <strong>Doctor Name:</strong> {{ writer.writerName }}</p>

                    <!-- Book Price -->
                    <!-- <p class="card-text text-success">💲 <strong>Price:</strong> ${{ writer.price }}</p> -->

                    <p class="card-text text-muted"> <strong>Department:</strong> {{ writer.writerDept }}</p>

                    <p class="card-text text-success">💲 <strong>Fee :</strong> ${{ writer.price }}</p>

                    <!-- Add to Cart Button -->
                    <!-- <button class="btn btn-warning shadow-sm fw-bold" (click)="addToCart(writer)">
                        Make Appointment
                    </button> -->
                    <div class="d-flex gap-2">
                        <a href="http:/addAppointment" class="btn btn-primary">Make Appointment</a>
                        <a href="#" class="btn btn-success">Details</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>