<app-navbar></app-navbar>
<!-- <div class="row">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 d-flex justify-content-center align-items-start pt-4"> -->
    <!-- <div class="profile-card-horizontal shadow">
      <div class="profile-left">
        <img src="{{ admin.profileImage }}" alt="Admin Avatar" class="profile-avatar-horizontal" />
      </div>
      <div class="profile-right">
        <h4 class="profile-name">{{ admin.name }}</h4>
        <p class="profile-detail"><strong>ID:</strong> {{ admin.id }}</p>
        <p class="profile-detail"><strong>Email:</strong> {{ admin.email }}</p>
        <p class="profile-detail"><strong>Phone:</strong> {{ admin.phone }}</p>
        <p class="profile-detail"><strong>Role:</strong> {{ admin.role }}</p>
        <button class="btn btn-custom-horizontal" (click)="editProfile()">Edit Profile</button>
      </div>
    </div>
  </div> -->


  <div class="body">
  <h1>Personal Information</h1>
  <div class="row">
    <div class="col-3">
      <div class="profile-card">
        <img [src]="userInfo?.avatarUrl" alt="Add Profile picture" style="width: 50%; height: 50%;" >
        <h2>{{ userInfo?.name }}</h2>
        <h4>User ID: {{ userInfo?.id }}</h4>
      </div>
    </div>
    <div class="col-9">

      <div class="info">
        <!-- <p>👨‍👩‍👧 Father's Name: <span>{{ userInfo?.fatherName }}</span></p> -->
        <p>👩 Name: <span>{{ userInfo?.name }}</span></p>
        <p>📧 Email: <span>{{ userInfo?.email }}</span></p>
        <p>📞 Phone No: <span>{{ userInfo?.phoneNumber }}</span></p>
        <p>🌍 Address: <span>{{ userInfo?.address }}</span></p>
      </div>
      <div class="d-flex justify-content-between">

        <button class="btn btn-warning" (click)="onEditUserInfo(currentUser)">
          <i class="bi bi-lock-fill me-1"></i>Edit Profile
        </button>

        <button class="btn btn-warning" (click)="onChangePassword()">
          <i class="bi bi-lock-fill me-1"></i>Change Password
        </button>

      </div>
    </div>
  </div>
</div>

