<div class="container my-5">
    <div class="row">
      <!-- Left Side: Medicine Info -->
      <div class="col-md-8">
        <h1>Medicine Details</h1>
        <img src="https://cdn.osudpotro.com/thumb/medicine/fluclox-500-1631442367478.webp?w=640" class="img-fluid mb-3" alt="Medicine Image">
      </div>
  
      <!-- Right Side: Price & Purchase -->
      <div class="col-md-4">
        <div class="border p-3 rounded shadow-sm " style="background-color: rgb(176, 193, 225);">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h4>TK 200 <s class="text-muted">TK 250</s></h4>
          </div>
          <p><i class="bi bi-calendar3"></i> 4 days left at this price</p>
  
          <div class="my-3">
            <a href="/enroll" class="btn btn-primary w-100 mb-2">Buy Now</a>
          </div>
  
          <hr>
  
         
  
          <div>
            <h5>For More Inquiries Call</h5>
            <h6 class="text-center"><i class="bi bi-telephone"></i> 019787765</h6>
          </div>
        </div>
      </div>
    </div>
  </div>